body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #0056b3;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 20px;
}

h2 {
  color: #0056b3;
}

input[type="number"], input[type="radio"] {
  margin: 5px 0;
}

input[type="number"], input[type="text"], button {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}

button {
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.result {
  background-color: #f8d7da;
  padding: 10px;
  border: 1px solid #f5c6cb;
  color: #721c24;
  display: none;
}

#composicion-bloques ul {
  list-style-type: none;
  padding: 0;
}

#composicion-bloques li {
  background-color: #f8f9fa;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.input-bloque {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.input-bloque label {
  width: 45%;
}

